// Custom global colors

// Default global colors
$colorBtn: #2c715b;
$bgSection: #f0f0f0;
$bgBody: #fff;
$bgFooter: #f6f6f6;

// Widths
$minWidth: 320px;
$maxWidth: 1360px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: 'acrom', Arial, Helvetica, sans-serif;
$_21px: 1.3125em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';