body{
    position: relative;
}


.container, .team__item--container {
    max-width: 1170px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin-top: 30px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background: url("../images/slider_array.png") no-repeat -53px;
    width: 52px;
    height: 51px;
    right: 2%;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background: url("../images/slider_array.png") no-repeat;
    width: 52px;
    height: 51px;
    left: 2%;
}