#footer {
    padding-top: 100px;
    width: 100%;
    background-image: url("../images/footer_bg.jpg");
    background-size: 100%;

    .footer__header {
        font-size: 42px;
        font-family: "Open Sans", sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 115px;
    }

    .footer__container {
        display: flex;
        justify-content: space-between;

        .footer__info {

            .footer__info--motto {
                font-size: 24px;
                color: rgb(255, 255, 255);
                text-align: left;
            }

            .footer__info--text {
                display: block;
                margin-top: 15px;
                max-width: 430px;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.502);
                line-height: 1.5;

            }

            .social_icons {
                margin-top: 40px;

                a {
                    display: inline-block;
                    margin-right: 15px;
                    width: 42px;
                    height: 42px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    background-image: url("../images/social_icons.png");
                }

                .facebook {
                    background-position: -1px;
                }

                .tweeter {
                    background-position: -43px;
                }

                .gplus {
                    background-position: -86px;
                }
            }

            .contacts {
                margin-top: 20px;

                p {
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-family: "Myriad Pro", sans-serif;
                    color: rgb(191, 172, 226);
                }
            }
        }

        .footer__feedback {
            max-width: 573px;

            input {
                display: inline-block;
            }

            .footer__feedback--name, .footer__feedback--email, .footer__feedback--message {
                padding: 15px 20px;
                width: 270px;
                height: 45px;
                border: 1px solid transparent;
                border-radius: 3px;
                font-size: 16px;
                color: rgb(193, 193, 193);
            }

            .footer__feedback--name {
                margin-right: 5%;
            }

            .footer__feedback--message {
                padding: 20px;
                width: 100%;
                height: 180px;
                margin-top: 30px;
            }

            .footer__feedback--submit {
                float: right;
                margin-top: 30px;
                margin-bottom: 100px;
                padding: 15px 50px;
                border: 1px solid transparent;
                border-radius: 3px;
                background-color: #49cbcd;
                font-size: 22px;
                color: rgb(255, 255, 255);

            }

        }
    }
}
